

#hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

/* Default */
h2, h3, p {
    padding: 75px 60px;
}

/* Smaller Screens */
@media (max-width: 600px) {
    h2, h3, p {
        padding: 30px 15px;
    }

#hero {
    color: greenyellow;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    font-family: monospace;
    font-size: 35px;
    text-shadow: 7px 7px 1px rgb(0, 17, 255);
    background-color: black;
}

#hero h1, strong {
    background-color: black;
}

* {
    background-color: rgb(255, 0, 106);
}

#introduction {
    font-family: monospace;
    font-size: 30px;
}

#introduction h1 {
    text-align: center;
    border: 5px solid white;
    border-radius: 15px;
    background-color: blue;
}

#currentproject h1 {
    text-align: center;
    border: 5px solid white;
    border-radius: 15px;
    background-color: blue;
}

#currentproject {
    font-family: monospace;
    font-size: 30px;
}

footer ul {
    list-style: none; /* removes bullet points */
    display: flex;
    justify-content: center; /* centers horizontally */
    gap: 30px; /* space between items */
    padding: 20px 0;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 30px;
}

footer {
    background-color: black;
    color: white;
    margin-top: 50px;
    border-top: 3px solid greenyellow;
}
